.nav-bar {
  background-color: #c0c0c0;
  display: block;
  position: absolute;
  right: 1rem;
}

.nav-link {
  margin: 1rem;
  padding-right: 2rem;
  text-decoration: none;
  color: white;
  font-size: 2rem;
}
